/*body*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*container*/
.container {
    width: 20px;
    height: 20px;

}
/*horizon*/
.horizon {
    height: 10px;
    width: 160px;
}
/*pixel*/
.pixel {
    float: left;
    width: 10px;
    height: 10px;
    animation: pixelChangeColor 1s infinite linear;
}

/*delay pixel*/
.delay1 {
    animation-delay: -0.25s;
}
.delay2 {
    animation-delay: -0.50s;
}
.delay3 {
    animation-delay: -0.75s;
}

/*animation*/
@keyframes pixelChangeColor {
    0% {
        background-color: #994CCE;
    }
    50% {
        background-color: #1F0060;
    }
    100% {
        background-color: #994CCE;
    }
}