#saoHoa {
    width: 2.435px;
    height: 2.435px;
    border-radius: 50%;
    background-color: #E8AB79;
}
#quyDaoSaoHoa {
    position: absolute;
    width: 7155px;
    height: 5933px;
    border-radius: 50%;
    border: 1px solid white;
}