[submodule "leet-code"]
	path = leet-code
	url = git@github.com:nhathuynguyen19/leet-code.git
[submodule "c-code"]
	path = c-code
	url = git@github.com:nhathuynguyen19/c-code.git
[submodule "cpp-code"]
	path = cpp-code
	url = git@github.com:nhathuynguyen19/cpp-code.git
[submodule "java-code"]
	path = java-code
	url = git@github.com:nhathuynguyen19/java-code.git
