
.block2 {
    position: absolute;
    transform-style: preserve-3d;
    display: flex;
}
.block {
    position: relative;
    transform-style: preserve-3d;
    width: 10px;
    height: 10px;
}

.blocktop,
.blockdown,
.blockback,
.blockfront,
.blockleft,
.blockright {
    position: absolute;
}
.blockfront {
    transform: translateZ(10px);
}
.blocktop {
    top: -10px;
    transform-origin: bottom;
    transform: rotateX(-90deg);
}
.blockdown {
    bottom: -10px;
    transform-origin: top;
    transform: rotateX(90deg);
}
.blockleft {
    left: -10px;
    transform-origin: right;
    transform: rotateY(90deg);
}
.blockright {
    right: -10px;
    transform-origin: left;
    transform: rotateY(-90deg);
}

