.lock {
    position: relative;
    position: absolute;
    bottom: -10px;
    left: 60px;
    transform-style: preserve-3d;
    width: 20px;
    height: 10px;
    transform: translateZ(-10px);
}
.row1 {
    position: absolute;
}
.row2 {
    transform: translateZ(10px);
}
.row3 {
    transform: translateZ(20px);
}
.row4 {
    transform: translateZ(30px);
}
.color1-1 {
    background-color: #947626;
}
.color2-1 {
    background-color: #9A7D24;
}
.color3-1 {
    background-color: #947626;
}
.color4-1 {
    background-color: #B4A445;
}
.color5-1 {
    background-color: #A89623;
}
.color6-1 {
    background-color: #BCAF61;
}
.color7-1 {
    background-color: #BBA83A;
}
.color8-1 {
    background-color: #CBC394;
}
.part11 {
    position: absolute;
    width: 40px;
    height: 10px;
    right: 0;
    transform-origin: right;
    transform: rotateY(90deg);
    background-color: rgba(0, 0, 0, 0.302);
    z-index: 1;
}