.sideBlock {
    position: absolute;
    width: 160px;
    height: 160px;
}

#topSideBlock,
#bottomSideBlock,
#leftSideBlock,
#rightSideBlock,
#frontSideBlock,
#backSideBlock
{
    position: absolute;
}
#topSideBlock {
    top: -140px;
    transform-origin: bottom;
    transform: rotateX(-90deg);
    animation: scaleTopSideBlock infinite linear;
    animation-duration: 5s;
}
#bottomSideBlock {
    bottom: -140px;
    transform-origin: top;
    animation: scaleBottomSideBlock infinite linear;
    animation-duration: 5s;
}
#leftSideBlock {
    left: -140px;
    transform-origin: right;
    animation: scaleLeftSideBlock infinite linear;
    animation-duration: 5s;
}
#rightSideBlock {
    right: -140px;
    transform-origin: left;
    animation: scaleRightSideBlock infinite linear;
    animation-duration: 5s;
}
#frontSideBlock {
    transform: translateZ(120px) scale(75%);
}
#backSideBlock {
    transform: scale(75%);
}
@keyframes scaleTopSideBlock {
    0% {
        transform: rotateX(-90deg) scale(75%);
    }
    100% {
        transform: rotateX(-90deg) scale(75%);
    }
}
@keyframes scaleBottomSideBlock {
    0% {
        transform: rotateX(90deg) scale(75%);
    }
    100% {
        transform: rotateX(90deg) scale(75%);
    }
}
@keyframes scaleLeftSideBlock {
    0% {
        transform: rotateY(90deg) scale(75%);
    }
    100% {
        transform: rotateY(90deg) scale(75%);
    }
}
@keyframes scaleRightSideBlock {
    0% {
        transform: rotateY(-90deg) scale(75%);
    }
    100% {
        transform: rotateY(-90deg) scale(75%);
    }
}