body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    letter-spacing: 0.1px;
    line-height: 1;
} 
.contact-us {
    width: 1150px;
    min-width: 1150px;
}
.clearfix {
    display: flex;
}



h2 {
    font-weight: 500;
}
h2 span {
    border-bottom: 3px solid #FFB737;
    padding-bottom: 12px;
}

h3 {
    font-weight: 500;
}
.info {
    margin-top: 10px;
}
.contact-list {
    padding: 0;
    padding-left: 15px;
}
.contact-list li {
    margin-block: 30px;
    color: #A2A2A2;
    display: flex;
}
.contact-list a {
    text-decoration: none;
    color: #A2A2A2;
}
#er1 {
    display: flex;
}
.contact-list li {
    list-style: none;
}
.contact-list li i {
    margin-right: 20px;
    scale: 150%;
    padding-top: 5px;
}

.contact-form {
    margin-left: 100px;
    margin-top: 10px;
    padding-right: 0;
    margin-right: 0;
    width: 100%;
}

.contact-form p input{
    height: 30px;
    width: 100%;
}

.contact-form p textarea{
    height: 100px;
    width: 100%;
}

.submit-btn button {
    border: none;
    height: 40px;
    width: 150px;
    background-color: rgb(12, 126, 126);
    color: white;
}