body {
    font-family: sans-serif;
    scale: 70%;
}
.all-iss {
    background-color: #F0F0F0;
    max-width: 1250px;
    padding-left: 50px;
}
.all-phan-duoi-iss {
    display: grid;
    grid-template-columns: 40% 60%;
}
.nd-bao-trai-is {
    margin-top: 45px;
    margin-right: 0;
    padding-right: 0;
}
