/*rearCamera*/
#cameraBack,
#cameraBack1 {
    width: 133.48px;
    height: 133.48px;
    border-radius: 36.469px;
    position: absolute;
    top: 12px;
    right: 12px;
}

#cameraBack {
    background-color: #1F1F1F;
    border: 1px solid #1F1F1F;
    transform: translateZ(-29px);
}

#cameraBack1 {
    border-radius: 36.469px;
    background-color: var(--custom-color);
    border: 1px solid #3f3f3f;
    transform: translateZ(-35px);
}

#lidarBack,
#flash
{
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    transform: translateZ(-35px);
}
#lidarBack {
    right: 96px;
    top: 115px;
    background-color: #000000;
}
#flash {
    right: 96px;
    top: 22px;
    background-color: #bbbbbb;
}

#cameraBackTop,
#cameraBackBottom,
#cameraBackRight,
#cameraBackTop1,
#cameraBackBottom1,
#cameraBackRight1 {
    position: absolute;
    width: 54px;
    height: 54px;
    border: 1px solid #3f3f3f;
    border-radius: 50%;
    transform: translateZ(-35px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#cameraBackTop {
    background-color: #1F1F1F;
    right: 22px;
    top: 20px;
}

#cameraBackBottom {
    background-color: #1F1F1F;
    right: 22px;
    top: 82px;
}

#cameraBackRight {
    background-color: #1F1F1F;
    top: 52px;
    right: 80px;
}

#cameraBackTop1 {
    background-color: var(--custom-color);
    right: 22px;
    top: 20px;
    transform: translateZ(-40px);
}

#cameraBackBottom1 {
    background-color: var(--custom-color);
    right: 22px;
    top: 82px;
    transform: translateZ(-40px);
}

#cameraBackRight1 {
    background-color: var(--custom-color);
    transform: translate(0px, -50%);
    top: 52px;
    right: 80px;
    transform: translateZ(-40px);
}

#inCameraBackTop,
#inCameraBackBottom,
#inCameraBackRight {
    width: 46px;
    height: 46px;
    border: 2px solid #000000;
    background-color: #181818;
    border-radius: 50%;
}