body {
    display: flex;
    justify-content: center;
    font-family: "Oswald", sans-serif;
}
.all {
    max-width: 725px;
    min-width: 580px;
    background-color: #F2F3F5;
}
.services {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.content-services {
    padding-top: 0;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 3px;
}
.content-services p {
    margin-top: 0;
}
.content-services p img {
    border-radius: 3px;
    margin-top: 0;
    height: auto;
    width: 100%;
}
.content-services div {
    margin-left: 10px;
}
