:root {
    --body-w: 1070px;
    --header-h: 122px;
    --logo-w: 105px;
    --logo-h: 122px;
    --bn-w: 1070px;
    --bn-h: 276px;
}
* {
    margin: 0;
    padding: 0;
    margin: auto;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

header {
    width: var(--body-w);
    height: var(--header-h);
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

#logo {
    width: var(--logo-w);
    height: var(--logo-h);
    background: #000022;
}

#navbar {
    width: 965px;
    height: 100%;
}

#navtop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}
#navtop nav {
    margin-left: 20px;
    padding: 0;
}
#navtop a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 15px;
    margin-left: 20px;
    padding: 0;
}
#navtop input {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 30px;
    padding-left: 5px;
    border: 1px solid grey;
}

#navbottom {
    width: 100%;
    height: 50%;
    background: #F69631;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbottom a {
    text-decoration: none;
    margin-inline: 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;s
}
#navbottom div {
    margin: 0;
}
#navbottom div nav {
    display: flex;
}
#navbottom div nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #FBD5AD;
    border-radius: 3px;
    margin-inline: 3px;
}
#navbottom div nav div i{
    color: #F69631;
}

#banner {
    width: var(--bn-w);
    height: var(--bn-h);
    margin-bottom: 25px;
}

#banner img {
    width: 100%;
}

#hotnews {
    width: 100%;
    height: 462px;
}

#news {
    width: 100%;
    height: 845px;
}

footer {
    width: 100%;
    height: 230px;
    background: #383838;
    color: white;
}

#hotnewsleft {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
}

#hotnewsright {
    
    width: 50%;
    height: 100%;
    float: left;
}

#hotnewsrighttop {
    position: relative;
    width: 100%;
    height: 261px;
}

#hotnewsrightbottom {
    width: 100%;
    height: 200px;
    padding-bottom: 0;
    margin-top: 3px;
}

#hotnewsrightbottomleft {
    width: 50%;
    height: 100%;
    float: right;
    position: relative;
    overflow: hidden;
}

#hotnewsrightbottomright {
    width: 50%;
    height: 100%;
    float: right;
    position: relative;
    overflow: hidden;
}

#hotnewsrighttop img {
    float: right;
}



#hotnewsrightbottomright img {
    float: right;
}



#hotnewsrightbottomleft img {
    float: right;
}

#tintuc {
    width: 70%;
    height: 100%;
    float: left;
    padding-right: 15px;
}

#baivietmoinhat {
    width: 30%;
    height: 100%;
    float: left;
}
#baivietmoinhat p {
    cursor: pointer;
}
#baivietmoinhat p {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 36px;
}

.new {
    width: 100%;
    height: 20%;
    margin-bottom: 25px;
    
}

.imgkaisa {
    width: 33%;
    height: 100%;
    display: flex;
    float: left;
    overflow: hidden;
}

.contentnew {
    width: 67%;
    height: 100%;
    padding-left: 15px;
    float: right;
}

#more {
    height: 50px;
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
#more button {
    cursor: pointer;
}
#more button {
    height: 35px;
    width: 100px;
    border-radius: none;
    border: none;
    border: 1px solid grey;
    color: grey;
}

#footl {
    width: 60%;
    height: 100%;
    float: left;
}
#footl p {
    margin-top: 20px;
    font-size: 14px;
}

#footr {
    width: 40%;
    height: 100%;
    float: right;
}



#social-2 div {
    background: #3E3E3E;
    border: none;
}
#social-2 div {
    border: 1px solid;
    float: left;
    width: fit-content;
}

.tintuc {
    color: #F6963D;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
    border-bottom: 3px solid #F6963D;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 25px;
}

#content-hotnewsleft {
    position: absolute;
    bottom: 0;
    color: white;
    margin-left: 15px;
    margin-right: 100px;
    margin-bottom: 15px;
}
#content-hotnewsleft span{
    font-size: 25px;
    font-weight: 600;
}
#content-hotnewsleft p{
    font-size: 12px;
}

#content-hotnewsrighttop {
    color: white;
    position: absolute;
    bottom: 0;
    font-size: 25px;
    font-weight: 600;
    margin-left: 15px;
    margin-right: 90px;
    margin-bottom: 15px
}

#content-hotnewsrightbottomright {
    position: absolute;
    bottom: 0;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 17px;
    font-weight: 600;
}

#content-hotnewsrightbottomleft {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.bri {
    filter: brightness(0.7)
}

.newtit {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.newtime {
    font-size: 12px;
    color: #958e87;
}

.cl1 {
    color: dimgray;
}

#foot-cen {
    width: 1070px;
}

.vechungtoi {
    margin-top: 50px;
}

#mxh2 {
    margin-top: 20px;
}

#social-1 {
    display: inline-block;
}
#social-1 div {
    cursor: pointer;
}
#social-1 div{
    float: left;
    width: 35px;
    height: 35px;
    display: flex;
    background: #3E3E3E;
    margin-right: 5px;
}

#foot-end {
    width: 100%;
    height: 30px;
    background: black;
    color: white;
}
#foot-end div {
    width: 1070px;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 12px;
}

#all {
    width: 1070px;
}
