/*trang tổng thể */
.all-section {
    background-color: rgb(230, 230, 230);
}

/*thanh công cụ trên*/
.tool-bar-top {
    display: flex;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
}
#nut-canh-logo {
    justify-content: space-between;
    display: flex;
}
#nut-canh-logo div button {
    border: none;
    background-color: white;
}
#circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
}

/*thanh công cụ dưới*/
.tool-bar-bottom {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(209, 209, 209);
    background-color: white;
}
.tool-bar-bottom button {
    border: none;
    background-color: white;
    padding-bottom: 10px;
}
.tool-bar-bottom button i {
    color: rgb(105, 105, 105);
}

/*trang cá nhân và thanh nêu suy nghĩ*/
.quick-think-upload {
    padding-top: 5px;
    background-color: white;
}
#dau-think {
    display: flex;
    align-items: center;
}
#sau-think {
    display: flex;
    align-items: center;
}
.quick-think-upload {
    display: flex;
    justify-content: space-between;
}
#avt {
    border: none;
    background-color: rgb(255, 255, 255);
}
#avt img{
    border-radius: 50%;
}
#nut-think {
    padding-block: 4px;
    border-radius: 50px;
    border-width: 1px;
    border-color: rgb(223, 223, 223);
    background-color: white;
}
#sau-think button {
    background-color: white;
    border: none;
    scale: 130%;
}
#sau-think button i{
    color: rgb(34, 185, 135);
}

/* thanh story */
.story-section {
    background-color: rgb(255, 255, 255);
    margin-top: 4px;
}
#story-button {
    display: flex;
}
#story-button button {
    width: 65px;
    height: 100px;
    margin-inline: 2px;
}
#avt-story {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    border: 2px solid rgb(0, 119, 255);
    position: absolute;
    top: 120px;
}
#story-button button {
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(216, 216, 216);
}

/* thanh newsfeed */
#content {
    margin: 20px;
    padding: 10px;
    border: none;
    height: 400px;
    overflow-y: scroll;
}

/*một bài đăng */
#content {
    background-color: rgb(255, 255, 255);
    margin: 0%;
    width: 300px;
    height: 300px;
    margin-block: 6px;
}
#thanh-tren-content {
    display: flex;
    justify-content: space-between;
}
#avt-content {
    width: 20px;
    height: 20px;
    border: 2px solid rgb(0, 119, 255);
    border-radius: 50%;

}
#name-user a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#follow a {
    font-weight: bolder;
    text-decoration: none;
    color: rgb(0, 119, 255);
}
#opption-content button {
    background-color: white;
    border: none;
}
#close-content button {
    background-color: white;
    border: none;
}
#img-content {
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
}
#trang-thai-content div {
    color: rgb(87, 87, 87);
}
#text-content {
    margin-top: 10px;
}