* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    transform-style: preserve-3d;
    perspective: 1000px;
    justify-content: center;
    align-items: center;
    background-color: #131313;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shadebottom {
    bottom: 0;
}
.shadez0 {
    z-index: -1;
}
.shadez1 {
    z-index: 1;
}
.shade2 {
    position: absolute;
    width: 140px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.200);
}
.shade3 {
    position: absolute;
    width: 140px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.200);
}
.shadeliddown {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.shade140140 {
    position: absolute;
    top: 0;
    width: 140px;
    height: 140px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}
.shade140100 {
    position: absolute;
    top: 0;
    width: 140px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.2);
}
.shade14050 {
    position: absolute;
    top: 0;
    width: 140px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
}
@keyframes rotate {
    0% {
        transform: rotateX(65deg) rotateZ(35deg);
    }
    100% {
        transform: rotateX(65deg) rotateZ(305deg);
    }
}