.heart {
    position: relative;
    position: absolute;
    width: 560px;
    height: 560px;
    border: 1px solid white;
    transform-style: preserve-3d;
}
.axis {
    position: absolute;
    width: 20px;
    height: 20px;
    transform-style: preserve-3d;
    animation: axisabsorb 2s linear;
}
.inaxis {
    width: 20px;
    height: 20px;
    animation: inaxisabsorb 2s linear;
}

@keyframes axisabsorb {
    0% {
        transform: translate(-50%, -50%);
    }
    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@keyframes inaxisabsorb {
    0% {
        
    }
    100% {
        transform: rotateX(90deg) translateZ(0px);
    }
}