.lid {
    position: relative;
    position: absolute;
    top: 0;
    transform-style: preserve-3d;
    width: 140px;
    height: 140px;
    transform-origin: top;
    animation: lidanimate 5s infinite linear;
}

.liddown,
.lidup,
.lidleft,
.lidright,
.lidfront,
.lidback {
    position: absolute;
}
.liddown {
    top: 0;
    z-index: 1;
    animation: shadelid 5s infinite linear;
}
.lidup {
    top: 0;
    transform: translateZ(50px);
}
.lidleft {
    position: relative;
    top: 20px;
    left: -70px;
    transform-origin: bottom;
    rotate: 90deg;
    transform: rotateX(-90deg);
}
.lidright {
    top: 20px;
    right: -70px;
    transform-origin: bottom;
    z-index: 1;
    rotate: -90deg;
    transform: rotateX(-90deg);

}
.lidfront {
    bottom: 0px;
    z-index: 1;
    transform-origin: bottom;
    transform: rotateX(-90deg);
}
.lidback {
    top: -50px;
    transform-origin: bottom;
    transform: rotateX(-90deg);
}
@keyframes lidanimate {
    0% {
        transform: translateZ(90px) rotateX(0deg);
    }
    25% {
        transform: translateZ(90px) rotateX(90deg);
    }
    50% {
        transform: translateZ(90px) rotateX(90deg);
    }
    75% {
        transform: translateZ(90px) rotateX(0deg);
    }
    100% {
        transform: translateZ(90px) rotateX(0deg);
    }
}
@keyframes shadelid {
    0% {
        filter: brightness(0);
    }
    25% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(1);
    }
    75% {
        filter: brightness(0);
    }
    100% {
        filter: brightness(0);
    }
}