/*pixel*/
.pixel {
    width: 10px;
    height: 10px;
}


/*pattern block*/
.pixelColor0 {
    background-color: #00000000;
}
.pixelColor00 {
    background-color: #00000000;
}
.pixelColor1 {
    background-color: #B91074;
}
.pixelColor2 {
    background-color: #D62079;
}
.pixelColor3 {
    background-color: #E763C5;
}
/*side block*/
.pixelColor4 {
    background-color: #BA3FEF;
}
.pixelColor5 {
    background-color: #C45BEF;
}
.pixelColor6 {
    background-color: #C868EF;
}
.pixelColor7 {
    background-color: #CA6FEF;
}
.pixelColor8 {
    background-color: #D579EF;
}
/*shield*/
.pixelColor9 {
    background-color: #8BC8F3;
}
.pixelColor10 {
    background-color: #BDDDF4;
}
.pixelColor11 {
    background-color: #D6E7F4;
}
.pixelColor12 {
    background-color: #F4F4F4;
}
/*stab*/
.pixelColor13 {
    background-color: #040404;
}
.pixelColor14 {
    background-color: #1E1E1E;
}
.pixelColor15 {
    background-color: #343434;
}
.pixelColor16 {
    background-color: #5A5A5A;
}
.pixelColor17 {
    background-color: #9C9C9C;
}

.pixelColor18 {
    background-color: #6A7A87;
}
.pixelColor19 {
    background-color: #80919D;
}
.pixelColor20 {
    background-color: #93A4B0;
}
.pixelColor21 {
    background-color: #B4C5D1;
}