/*decoreBorder*/
#decoredBorder1,
#decoredBorder2,
#decoredBorder3,
#decoredBorder4,
#decoredBorder5,
#decoredBorder6,
#decoredBorder7,
#decoredBorder8
{
    position: absolute;
    width: 3px;
    height: 28px;
    background-color: #33302d;
    transform: translateZ(-1px);
}
#decoredBorder5,
#decoredBorder6,
#decoredBorder7,
#decoredBorder8
{
    height: 3px;
    width: 28px;
}


#decoredBorder1 {
    top: 0;
    left: 56px;
    transform-origin: top;
    transform: rotateX(-90deg);
}
#decoredBorder2 {
    top: 0;
    right: 56px;
    transform-origin: top;
    transform: rotateX(-90deg);
}
#decoredBorder3 {
    top: 100%;
    left: 56px;
    transform-origin: top;
    transform: rotateX(-90deg);
}
#decoredBorder4 {
    top: 100%;
    right: 56px;
    transform-origin: top;
    transform: rotateX(-90deg);
}
#decoredBorder5 {
    top: 56px;
    transform-origin: left;
    transform: rotateY(90deg);
}
#decoredBorder6 {
    bottom: 56px;
    transform-origin: left;
    transform: rotateY(90deg);
}
#decoredBorder7 {
    top: 56px;
    right: 0;
    transform-origin: right;
    transform: rotateY(-90deg);
}
#decoredBorder8 {
    bottom: 56px;
    right: 0;
    transform-origin: right;
    transform: rotateY(-90deg);
}