    	* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: 'Oswald', sans-serif;
		}
		body {
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 100vh;
			background-color: rgb(42, 42, 42);
		}

		ul {
			position: relative;
			transform: skewY(-15deg);
		}
		ul li {
			position: relative;
			list-style: none;
			width: 200px;
			background: rgb(53, 53, 53);
			padding: 15px;
			z-index: var(--i);
			
		}
		ul li:last-child:after {
			box-shadow: -120px 120px 20px rgba(1, 1, 1, 0.238);
		}
		ul li:hover {
			background: rgb(43, 113, 226);
			transition: 0.5s;
			transform: translateX(-45px);
		}
		ul li:hover::before {
			background: rgb(43, 113, 226);
			transition: 0.5s;
		}
		ul li::before {
			content: '';
			position: absolute;
			width: 40px;
			height: 100%;
			top: 0;
			left: -40px;
			transform-origin: right;
			transform: skewY(45deg);
			background: rgb(103, 103, 103);
			transition: 0.5s;
		}
		ul li:hover::after {
			background: rgb(43, 113, 226);
			transition: 0.5s;
		}
		ul li::after {
			content: '';
			position: absolute;
			width: 200px;
			height: 40px;
			background: rgb(151, 151, 151);
			top: -40px;
			left: 0;
			transform-origin: bottom;
			transform: skewX(45deg);
			transition: 0.5s;
			

		}
		ul li a {
			text-decoration: none;
			color: rgb(174, 174, 174);
			display: block;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			transition: 0.5s;
		}

		ul li:hover a{
			color: rgb(255, 255, 255);
		}