#traiDat {
    width: 4.575px;
    height: 4.575px;
    border-radius: 50%;
    background-color: #B0C4DE;
}
#quyDaoTraiDat {
    position: absolute;
    width: 4367px;
    height: 4224px;
    border-radius: 50%;
    border: 1px solid white;
}